<section id="sobre">
  <div class="title">
    <h1>
      Sobre nós
    </h1>
  </div>
  <div class="sobre-content">
    <img src="../assets/sobre.png" />
    <div class="right">
      <p>
        A expressão Lorem ipsum em design gráfico e editoração é um texto padrão em
          latim utilizado na produção gráfica para preencher os espaços de texto em publicações
          (jornais, revistas, e sites) para testar e ajustar aspectos visuais
          (layout, tipografia, formatação, etc.) antes de utilizar conteúdo real. Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit autem impedit id commodi, magnam necessitatibus molestias. Dolorum labore officiis quae, optio pariatur veniam quod voluptates, rem ipsa harum quo nesciunt!
        </p>
    </div>
  </div>
</section>
