<section id="content">
  <div class="conteudo-left">
    <h1>Lorem Ipsum is simply <br>dummy text of the printing <br>and   <span>typesetting industry.</span></h1>
    <p>
      É um fato conhecido de todos que um leitor se distrairá com <br>o conteúdo de texto legível de uma página quando estiver examinando sua diagramação.
    </p>
    <a href="/portfolio"><button class="button">acessar portfólio</button></a>
  </div>
  <img src="assets/headerr.png"  >
</section>
<section id="mbl-content">
    <h1>Lorem Ipsum is simply dummy text of the printing and   <span>typesetting industry.</span></h1>
    <img src="assets/headerr.png"  >
    <p>
      É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver examinando sua diagramação.
    </p>
    <a href="/portfolio"><button class="button">acessar portfólio</button></a>
</section>
