<section id="footer">
  <div class="content">
    <div class="left">
      <div class="left-content">
        <img class="footer-img" src="../../../assets/footer.png" alt="Logo YondLine">
        <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim quia numquam maxime aliquid fugiat saepe, quo quos accusantium laudantium cumque rerum corrupti voluptate tempora obcaecati corporis id veniam, error placeat.</p>
      </div>
    </div>
    <div class="right">
      <div class="contact">
        <h2>CONTATO</h2>
        <a href="" class=""><p class="footer-contact">@yondline</p></a>
        <a href="" class=""><p class="footer-contact">(13) 99625-1308</p></a>
        <a href="" class=""><p class="footer-contact">yondline@gmail.com</p></a>
        <img class="footerMbl-img" src="../../../assets/footer.png" alt="Logo YondLine">
      </div>
    </div>   
  </div>
  <div class="copy">Todos os direitos reservados &copy; 2022</div>
</section>