* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face{
  font-family: bien-book;
  src: url('../fonts/Biennale/Demo_Fonts/Fontspring-DEMO-biennale-book.otf');
}
@font-face{
  font-family: montserrat;
  src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}
@font-face{
  font-family: inter-bold;
  src: url('../fonts/Inter-Bold.ttf');
}

/* HEADER */


@font-face{
  font-family: bien-book;
  src: url('../fonts/Biennale/Demo_Fonts/Fontspring-DEMO-biennale-book.otf');
}
@font-face{
  font-family: montserrat;
  src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}
section {
  display: flex;
  height: 180px;
  justify-content: space-around;
  align-items: center;
  line-height: 10px;
}
#header img {
  width: 150px;
}
ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items:center;
}
li{
  padding: 0 40px;
  font-size: 19px;
  font-family: montserrat;
  transition: 400ms all;
}
li:first-child {
  padding: 0 40 0 0;
}
a{
  position: relative;
}
.li-a {
  color: black;
  text-decoration: none;
  transition: 300ms all ease;
}
.li-a:hover {
  color: #0000FF
}
.cttA {
  color: white;
  text-decoration: none;
}
.li-a:after{
  content: '';
  position: absolute;
  background-color: #0000FF;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 300ms all ease;
}
.li-a:hover:after {
  width: 100%;
}
.headerBtnContato {
  background-color: #0000FF;
  border-radius: 30px;
  padding: 15px 25px;
  margin-left: 10px;
  transition: 300ms all ease;
  font-weight: bold;
}
.headerBtnContato:hover {
  transform: scale(1.08);
  background-color: #3f3fff;
  cursor: pointer;
}

.mobile-menu {
  display: none;
}

#header nav.active {
  transform: translateX(0);
}

@media (max-width: 950px) {
  @keyframes navLinkFade {
    from {
        transform: translateX(30px);
    }
    to {
        transform: translateX(0);
    }
}
  #header {
    height: 60px;
    justify-content: space-between;
  }
  #header img {
    margin-left: 40px;
  }
  .mobile-menu {
    display: block;
    cursor: pointer;
    z-index: 3;
    margin-right: 30px;
    position: fixed;
    right: 0;
  }
  .mobile-menu div {
    width: 32px;
    height: 3px;
    margin: 8px;
    background-color: #0007A7;
    transition: .4s all ease;
    border-radius: 100px;
  }
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-7px, -8px);
  }
  #header nav {
    top: 0;
    right: 0;
    width: 58vw;
    height: 100vh;
    background-color: #FFFF;
    transform: translateX(100%);
    transition: transform 300ms ease-in;
    position: fixed;
    z-index: 2;
    border-left: 1px solid rgba(0, 0, 0, 0.363);
  }
  #header ul {
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 0;
  }
  #header li {
    padding: 0;
    transform: translateX(30px);

  }
  #header .cttA {
    color: black;
  }
  #header .cttA:hover {
    color: #0e08b8;
  }
  #header .headerBtnContato {
    background-color: transparent;
    margin-left: 0;
    transition: 300ms all ease;
    font-weight: normal;
    padding: 0;
  }
  #header .headerBtnContato:hover {
    background-color: transparent;
    transform: scale(1);
  }
  #header .li-a:after{
    content: '';
    display: none;
  }
}


/*  */
/*  */

.mat-tab-group {
  max-width: 200%;
  margin-bottom: 48px;
}
mat-card{
  margin: 30px;
}
.card{
  display: grid;
  grid-template-columns: repeat(3 , 500px);
  justify-content: center;
}

.square {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 30px;
}


.titulo{
  letter-spacing: .5px;
  color: #111827;
  font-size: 45px;
  font-family: inter-bold;
  width: 250px;
  margin: 0;
  position: relative;
}
.titulo:after {
  content: '';
  height: 30px;
  width: 6px;
  background-color: #0000FF;
  position: absolute;
  left: -13px;
}

.select {
  display: flex;
  justify-content: center;
  align-items: center;
}
select {
  text-align: center;
  height: 30px;
  width: 150px;
  outline: none;
  border-radius: 40px;
  border: none;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.212);
  transition: .5s all;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.452);
  background-color: #FFFF;
  padding: 6px;
}

select:hover {
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.212);
}

option {
  padding: 20px;
}


.footer{
  background-color: #060658;
  padding: 50px;
  margin-top: 100px;

}
.footer-p{
  line-height: 30px !important;
  color:#FFFF;
  font-size: 16px;
}
.footer-div{
  margin-left: 100px;
}
.footer-h1{
  color: white;
}
.footer-li{
  line-height: 20px !important;
  color:#FFFF;
  font-size: 16px;
  list-style: none;
  margin-left: -35px;
  font-size: 14px;
}
a{
  text-decoration: none;
}
.footer-ul{
  margin-top: -150px;
  margin-left: 1000px;
}
.direitos{
  color: #FFFF;
}
.direitos{
  margin-bottom: -40px;
  text-align: center;
  font-size: 14px;
}
.mat-ink-bar{
  background-color: #0000FF;
}

.mat-tab-group {
  min-width: 2px;
  margin-bottom: 48px;
}

/* FOOTER CSS */

#footer {
  background: #060658;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 250px;
  justify-content: space-between;
  line-height: 20px;
}

#footer .footerMbl-img {
  display: none;
  width: 150px;
  height: inherit;
  margin-top: 30px;
}

#footer .footer-img {
  width: 180px;
  height: inherit;
}

#footer .content {
  background: #060658;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

#footer .left, #footer .right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 49%;
  margin: 1%;
  height: 100%;
}

#footer .left-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

#footer img {
  margin-bottom: 20px;
}

#footer .text {
  width: 60%;
}

#footer a {
  text-decoration: none;
  color: white;
}

#footer .copy {
  text-align: center;
  background-color: #060658;
  width: 100%;
}

/* RESPONSIVE CSS */

@media (max-width: 1800px) {
  .card {
  grid-template-columns: repeat(3 , 400px);
  }
}
@media (max-width: 1400px) {
  mat-card{
    margin: 20px;
  }
  .card {
    grid-template-columns: repeat(3 , 350px);
  }
}
@media (max-width: 1200px){
  .card {
    grid-template-columns: repeat(3 , 300px);
  }
}
@media (max-width: 950px){
  .titulo {
    font-size: 35px;
  }
  .titulo::after {
    height: 25px;
    top: 3px;
  }
  .card {
    grid-template-columns: repeat(2 , 300px);
  }

}
@media (max-width: 630px) {
  #footer .footer-img {
    display: none;
  }
  #footer .footerMbl-img {
    display: block;
  }
  #footer .text {
    width: 90%;
    margin-left: 10px;
  }
}
@media (max-width: 600px){
  mat-card{
    margin: 10px;
  }
  .card {
    grid-template-columns: repeat(2 , 250px);
  }
}
@media (max-width:500px) {
  .card {
    grid-template-columns: repeat(1 , 100%);
  }
}