<section id="servico">
  <div class="servico-left">
    <div class="title">
      <h1>Nossos serviços</h1>
    </div>
    <h2>Lorem Ipsum is simply dummy text of the prrinting and typesetting industrry.
      Lorem Ipsum has been the insdustrys.
    </h2>
    <img class="img" src="../../../../../assets/servico.png.png"/>
  </div>
  <div class="servico-right">
    <div class="card">
      <div class="circle"><img class="icon" src="../../../../../assets/website.png"/></div>
      <h3 class="h3Blue">Website</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
    </div>
    <div class="card" >
      <div class="circleBlack"><img class="icon" src="../../../../../assets/paleta.png"/></div>
      <h3 class="h3Black">Design</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
    </div>
    <div class="card">
      <div class="circleBlack blueMbl" id=""><img class="icon" src="../../../../../assets/camerra.png"/></div>
      <h3 class="h3Black blueMblh3">Edição de vídeo</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
    </div>
    <div class="card">
      <div class="circle blackMbl"><img class="icon" src="../../../../../assets/socialmedia.png"/> </div>
      <h3 class="h3Blue blackMblh3">Social Media</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
    </div>
  </div>
</section>
